#This is an example enviroment use the real one for connection
#As good practice we shouldn;'t' be transferring this sensitive data across Git
#If you require this data please request it

PORT=4000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DBNAME?sslmode=require"
JWT_SECRET="change_me_to_any_long_random_string"