# dependencies
node_modules/

# env files (IMPORTANT)
.env
.env.*

# build files
.next/
dist/
build/

# logs
npm-debug.log*

# system files
.DS_Store
Thumbs.db

# editor
.vscode/

# prisma generated client (optional)
backend/generated/